<div class="login-wrapper">
  <h1>My Address Book</h1>

  <mat-card class="box" *ngIf="menu">
    <mat-card-content>
      <div class="search-hero example-full-width">
        <!-- <div > -->
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="&#61442;  Start searching "
        />
        <!-- <div class="col-sm-12">
          <input
            type="text"
            [(ngModel)]="searchText"
            class="form-control"
            placeholder="Start searching"
          />
        </div> -->
        <label *ngFor="let alpha of alphTab">
          <a (click)="alphSearch(alpha.char)" class="text-danger p-2">{{
            alpha.char
          }}</a>
        </label>
        <!-- <p class="alph text-danger">
          A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
        </p> -->
        <!-- </div> -->
      </div>
    </mat-card-content>
    <div class="container">
      <div class="row ">
        <div
          class="col-4"
          *ngFor="let prof of table | pipe: searchText"
          (click)="getItems(prof)"
        >
          <mat-card class="profileCard mb-3">
            <div class="row">
              <div class="col-4">
                <img src="../../assets/icons/profile.png" class="profile" />
              </div>
              <div class="col-md-6 col-xs-12 ml-4">
                <span> {{ prof.name }} <br />{{ prof.number }} </span>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>

  <!--show profil-->

  <div class="profilDetail" *ngIf="clickShow">
    <mat-card class="box">
      <mat-card class="profileCard">
        <div class="row">
          <div class="col-4">
            <img src="../../assets/icons/profile.png" class="profile" />
          </div>
          <div
            class="col-6 ml-4"
            style="font-size: 20px; color: gray;
          "
          >
            {{ profile.name }} {{ profile.number }}
          </div>
        </div>
        <img class="image" src="../../assets/icons/skype.png" />
        <img class="image" src="../../assets/icons/phone.png" />
        <img class="image" src="../../assets/icons/mail.png" />
      </mat-card>
    </mat-card>
  </div>
</div>
